@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url("./pageTwo.css");

@import url("./pageThree.css");


:root{
    --backgroundColor: #FFFFFF;
    --textColorBlack: #000000;
    --textColorWhite: #FFFFFF;
    --colorPink: #FF7272;
    --colorBlack: #1B1B1B;
    --colorGrey: #D9D9D9;
}

body, html{
    font-family: inter;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    overflow: hidden;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}


.blocks{
    position: relative;
    width: 100%;
}
.main_name{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    color: var(--textColorBlack);
    font-size: 30px;
    font-weight: bold;
    animation: main-logo 1s 1s forwards;
    letter-spacing: 1px;
}
.main_name_on{
    font-size: 25px;
    font-weight: bold;
    animation: main-logo_on 1s 1s forwards;
    letter-spacing: 1px;
}

@keyframes main-logo{
    0%{
        top: 50%;
        transform: translateY(-50%);
    }
    100%{
        top: 95%;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.25);
        font-size: 25px;
    }
}

@keyframes main-logo_on{
    0%{
        top: 50%;
        transform: translateY(-50%);
    }
    100%{
        top: 95%;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.25);
        font-size: 20px;
    }
}


.main-znam{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--textColorBlack);
    font-weight: 500;
    animation: main-zam 1s 1.25s forwards;
    opacity: 0;

}

.cerkl_logo{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: var(--colorGrey);
    margin: 0 auto;

}

.txt1{
    position: relative;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 30px;
    width: 187px;

}

.txt2{
    position: relative;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    width: 166px;
}

@keyframes main-zam{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

.block-one{
    overflow-y: hidden;
    opacity: 1;
    animation: block_one 1s 2.5s forwards;
}
@keyframes block_one{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}






