.block_two{
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    animation: main-two-block 1s 3s forwards;
    opacity: 0;
}

@keyframes main-two-block{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}


.block-two_b1{
    position: relative;
    display: flex;
}

.cerkl_1{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background-color: var(--colorBlack);
    margin: 30px auto 10px 35px;

}

.txtName{
    position: relative;
    margin: 37px 35px 0px auto;
    width: 201px;
    margin-bottom: 40px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.txtvn{
    color: var(--colorPink);
}

.block-two_b2{
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 0 0 10px;
}

.sl_wr{
    position: relative;
    min-width: 255px;
    height: 155px;
    background-color: var(--colorGrey);
    margin-right: 10px;
    border-radius: 5px;
}

.block-two_b3{
    position: relative;
    margin-top: 15px;
}

.block-two_b3_txt{
    position: relative;
    font-size: 26px;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    left: 20px;
    margin-bottom: 25px;
}

.block-two_b3_sl{
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 0 0 10px;
}

.sl_pg{
    position: relative;
    min-width: 150px;
    height: 180px;
    background-color: var(--colorBlack);
    margin-right: 10px;
    border-radius: 5px;
}

.np{
    background-color: var(--colorPink);
}

.tt{
    position: absolute;
    color: var(--textColorWhite);
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-weight: 700;
    font-size: 15px;
}

.tt1{
    position: absolute;
    color: var(--textColorWhite);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-weight: 300;
    font-size: 50px;
}

.block-two_b4{
    position: relative;
    margin-top: 15px;
}

.os{
    height: 100px;
    min-width: 100px;
    background-color: var(--colorGrey);
}

.osx{
    height: 100px;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0);
}

.main_name_os{
    position: absolute;
    bottom: 0;
    color: var(--textColorBlack);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.main_name_on_os{
    font-size: 20px;
    font-weight: bold;
}

.pust{
    position: relative;
    width: 100%;
    height: 30px;
}